*{
    box-sizing: border-box;
    margin: 0%;
    border: 0;
}
body{
    height: 100vh;
}
.image img{
    width: 100px;
    height: 150px;
}
.image img{
    margin-left: 680px;
}
.nav{
    height: 60px;
    width: 1000px;
    background-color: white;
    display: flex;

}
.name img{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    
    color: black;
    width: 30%;
    height: 90%;
}
.nav{
    width: 100%;

}
.navbar a{
    text-decoration: none;
   margin-left: 10px;
   font-size: large;
   color: black;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.three,input{
    color: black;
    border: 2px;
    width: 22%;
    height: 4vh;
    align-items: center;
    font-size: large;
    margin-left: 100px;
}
.parent img{
    height: 60%;
    width: 75% ;
    margin-left: 70px;
    margin-top: 8%;
}
.team img{
    height:60%;
    width:80%;
    margin-left: 150px;
    margin-top: 8%;
}
.progress{
    display: flex;
    height: 100vh;
}
.parent h1{
    margin-left: 15%;
}
.team h1{
    margin-left: 30%;
}
.homework img{
    margin-left: 500px;
    height: 10%;
    width: 30%;
}
.homework h1{
     margin-left: 500px;
}